.main-page {
    display: flex;
    width: 100%;
    justify-content: center;
}


/* buttons */

#button {
    cursor: pointer;
    background-color: #041E29;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 16em;
    height: 3.5em;
    border: none;
    border-radius: 5px;
    outline: none;
}

.main-modal-button {
    margin-top: 23em;
}

.next-button {
    margin-bottom: 35px;
}

/* modal content */

.modal-pic {
    width: 15em;
    height: auto;
}

.modal-header {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 400;
    font-size: 36px;
    color: black;
    margin-block-start: 0;
}

.modal-copy {
    text-align: center;
    width: 50%;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(40, 40, 40);
    margin-block-start: 0;
    margin-bottom: 1.7em;

}

.ellipse {
    width: 22px;
    margin-bottom: 5px;
}


 



