.modal {
    position: absolute;
    background-color: white;
    width: 500px;
    height: auto;
    border-radius: 10px; 
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2); 
    z-index: 9998;
}


.modal .actions {
    display: flex;
    justify-content: flex-end;  
}

.modal .content {
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.modal .actions .close-button {
    width: 13px;
    height: auto;
    padding-right: 2em;
    padding-top: 1.5em;
    cursor: pointer;
}







